/*
/*/
!.gitignore
!/attendances/01/
!/attendances/02/
!/attendances/03/
!/attendances/04/
!/attendances/05/
!/attendances/06/
!/attendances/07/
!/attendances/08/
!/attendances/09/
!/attendances/10/
!/attendances/11/
!/attendances/12/
!/attendances/13/
!/attendances/14/
!/attendances/15/
!/attendances/16/
